<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FCS_Verwaltung___Client.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <FCS_Verwaltung___Client.My.MySettings>
            <setting name="Port" serializeAs="String">
                <value>42647</value>
            </setting>
            <setting name="LastServerIP" serializeAs="String">
                <value />
            </setting>
            <setting name="LastUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="net_username" serializeAs="String">
                <value>netzwerkzugriff</value>
            </setting>
            <setting name="net_password" serializeAs="String">
                <value>player1</value>
            </setting>
            <setting name="net_computer" serializeAs="String">
                <value>fcs-server</value>
            </setting>
            <setting name="static_ip_bo" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="staic_ip_st" serializeAs="String">
                <value>192.168.178.72</value>
            </setting>
            <setting name="Premiere_Path" serializeAs="String">
                <value>C:\Program Files\Adobe\Adobe Premiere Pro CS6\Adobe Premiere Pro.exe</value>
            </setting>
            <setting name="Auditions_Path" serializeAs="String">
                <value>C:\Program Files (x86)\Adobe\Adobe Audition CS6\Adobe Audition CS6.exe</value>
            </setting>
        </FCS_Verwaltung___Client.My.MySettings>
    </userSettings>
</configuration>